<div layout="column">
    <md-list>
        <md-list-item><label>Disponivel nesse mes: {{m.disponivel()}}</label></md-list-item>
        <md-list-item><label>Proxima fatura: {{m.proxima_fatura()}}</label></md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-input-container>
        <label>Limite atual</label>
        <input type="number" ng-change="m.save()" ng-model="m.lim_atual">
    </md-input-container>
    <md-input-container>
        <label>Saldo inicial</label>
        <input type="number" ng-change="m.save()" ng-model="m.saldoinicial">
    </md-input-container>
    <md-input-container layout="row">
        <label>Dia do fechamento da fatura</label>
        <input type="number" ng-change="m.save()" ng-model="m.fechamento_fatura">
        <input type="checkbox" ng-change="m.save()" ng-model="m.fatura_paga">
    </md-input-container>
    <md-input-container>
        <label>Fatura fechada desse mes</label>
        <input type="number" ng-change="m.save()" ng-model="m.fatura_fechada">
    </md-input-container>
    <md-input-container>
        <label>Custo fixo previsto</label>
        <input type="number" ng-change="m.save()" ng-model="m.custofixo">
    </md-input-container>
    <md-input-container>
        <label>Limite total</label>
        <input type="number" ng-change="m.save()" ng-model="m.lim_total">
    </md-input-container>
    <md-input-container>
        <label>Parcelado restante</label>
        <input type="number" ng-change="m.save()" ng-model="m.parcelado_restante">
    </md-input-container>
    <div layout="row">
        <md-input-container>
            <label>Novo gasto</label>
            <input ng-model="m.novogasto">
        </md-input-container>
        <md-input-container>
            <label>Valor</label>
            <input type="number" ng-model="m.novovalor">
        </md-input-container>
        <md-button ng-click="m.add_gasto()" class="md-raised md-primary">+</md-button>
    </div>
    <md-list>
        <md-list-item ng-repeat="g in m.gastos">
            <span>{{g.descricao}}</span>
            <span flex></span>
            <span>{{g.valor}}</span>
            <md-button ng-click="m.remove_gasto(g)" class="md-raised">-<md-raised>
        </md-list-item>
    </md-list>
</div>
